.leftContainer {
  margin-top: -1rem;
  width: 50%;
}

.aboutUsParagraph {
  font-size: 1.3rem;
}

.rightContainer {
  margin-top: -2.5rem;
  width: 50%;
  padding: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

.logoImage {
  width: 100%;
}

.fullLogo {
  width: 45%;
}

.aboutUsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
