.addDeliveryForm {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border: solid;
  width: 25rem;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
}

.inputField {
  margin-top: 1rem;
}

.btn {
  height: 2.5rem;
  margin-top: .5rem;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.slct {
  width: 25rem;
  border-color: #C1C1C1;
  font-size: 1rem;
  border-radius: 4px;
  height: 3.5rem;
}
