.addOrderForm {
  width: 20rem;
  align-items: center;
  margin: 1%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputField {
  margin-top: 1rem;
}

.btn {
  height: 2.5rem;
  margin-top: .5rem;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
