
.mainName {
  display: inline;
  font-size: 2rem;
  color: white;
  margin-left: 1.5rem;
  cursor: pointer;
}

.logoImage {
  width: 14rem; /* Adjust the width as needed */
  height: 3rem; /* Adjust the height as needed */
  margin: 10px;
  cursor: pointer;
  /* Add any other styles as needed */
}

.navbarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 4rem;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.listings {
  margin-left: 2rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  color: white;
  list-style: none;
}

.listings a {
  text-decoration: none;
  color: white;
}

.listings a:hover {
  color: #9E9E9E;
  transition: .5s
}

.burgerIcon{
  margin-left: 1rem;
  margin-top: .5rem;
}
