.mainName {
  display: inline;
  font-size: 2rem;
  color: white;
  margin-left: 1.5rem;
}


.navbarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 3.5rem;
  background-color: #00B9E2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.listings {
  margin-left: 1.5rem;
  margin-top: .5rem;
  font-size: 1.1rem;
}

.listings a {
  text-decoration: none;
  color: white;
}

.listings a:hover {
  color: #111;
}
