.tableCellWithCredit {
  color: red;
}

.tableCellWithoutCredit {
  color: black;
}

.searchForm {
  margin-left: 1rem;
}

.btn {
  margin-left: 1rem;
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  border: solid;
  background-color: white;
  color: black;
  transition: .5s;
}

.upperForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3%;
}

.reportButtons {
 margin-left: 1rem;
 margin-top: 1rem;
 float: right;
 margin-right: 1rem;
}
